.product {
    width: 100%;
    min-height: 100vh;

    .topbar {
        width: 100%;
        line-height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        background: #FFF;
        padding-left: 50px;

        img {
            width: 23px;
            height: auto;
        }

        .profileSection {
            float: right;
            font-weight: 500;

            span {
                margin-left: 55px;
                margin-right: 10px;
                font-size: 13px;
            }

            .user {
                margin-right: 20px;
            }
        }
    }

    .optionBar {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 15px 25px 10px 25px;

        .productOption {
            text-align: end;
        }

        button {
            margin-left: 10px;
            text-transform: none;
            font-size: 13px;
            border-color: rgba(32, 33, 35, 0.50);
            color: rgba(32, 33, 35, 0.75);
            font-weight: 600;

            &:hover {
                background: #0052CC;
                color: white;
            }
        }

        .btnActive {
            background: #0052CC;
            color: white;
        }
    }

    .credit {
        padding-left: 25px;
        font-size: 14px;
        font-weight: 600;
        color: #0052CC;
    }

    table {
        width: 95%;
        margin-left: 25px;
        font-size: 13px;
        margin-top: 20px;

        thead,
        tr {
            border-bottom: 1px solid rgba(32, 33, 35, 0.10);
            ;
        }

        th,
        td {
            line-height: 40px;
            color: #202123BF;
        }
    }

    .addForm {
        padding: 20px 25px 40px 25px;

        .title {
            font-weight: 500;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .formSection {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 40px;

            .form-group {
                margin-top: 15px;
                font-size: 14px;

                label {
                    padding-bottom: 5px;
                    font-weight: 500;
                    color: rgba(32, 33, 35, 0.75);
                }

                input,
                textarea {
                    font-size: 12px;
                }

                select {
                    color: rgba(32, 33, 35, 0.75);
                }
            }

            .checkGrid {
                display: grid;
                margin-top: 20px;
                width: 450px;
                grid-template-columns: 1fr 1fr;

                section {
                    font-weight: 500;
                    margin-left: -39px;
                    font-size: 14px;
                    padding-bottom: 5px;
                }
            }

            .add {
                font-size: 12px;
                color: #0052CC;
                text-align: right;
                font-weight: 500;
                margin-top: 15px;
                padding-right: 10px;
            }

            .additionalInfo {
                margin-top: 40px;

                section {
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .purchaseBox {
                margin-top: 20px;

                section {
                    font-size: 14px;
                    font-weight: 500;
                }

                .innerBox {
                    width: 100%;
                    border-radius: 6px;
                    border: 0.5px dotted rgba(32, 33, 35, 0.50);
                    margin-top: 10px;
                    padding: 10px 25px 25px 25px;

                    p {
                        text-align: right;
                        margin: 0px;
                        padding-top: 20px;
                        font-size: 12px;
                        color: #FF4040;
                        font-weight: 500;
                    }
                }

            }

            .warranty {
                margin-top: 20px;

                section {
                    font-size: 14px;
                    font-weight: 500;
                }

                .warrantyGrid {
                    display: grid;
                    grid-gap: 25px;
                    grid-template-columns: 1fr 1fr;
                }
            }

            .productDescription {
                margin-top: 25px;

                section {
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .qrGenerate {
                margin-top: 30px;

                section {
                    font-size: 14px;
                    font-weight: 500;
                }

                button {
                    text-transform: none;
                    background-color: #0052CC;
                    width: 150px;
                    font-size: 13px;
                }
            }

            .productImage,
            .category,
            .logo {
                padding-top: 10px;
                padding-bottom: 20px;

                label {
                    padding-bottom: 5px;
                    font-weight: 500;
                    color: rgba(32, 33, 35, 0.75);
                    font-size: 14px;
                }

                .innerDiv {
                    border-radius: 6px;
                    border: 0.5px dotted rgba(32, 33, 35, 0.50);
                    height: 250px;
                    padding: 10px 20px;
                }
            }

            .productImage .innerDiv {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                div {
                    font-size: 14px;
                    font-weight: 500;
                }

                pre {
                    font-size: 12px;
                    color: rgba(32, 33, 35, 0.50);
                }

                img {
                    width: 100px;
                    height: auto;
                }
            }


            .category {
                .innerDiv {
                    display: flex;
                    flex-direction: column;

                    .form-check {
                        margin-top: 10px;

                        label {
                            font-size: 12px;
                        }

                    }
                    .add {
                        margin-top: auto;
                    }
                }
            }

        }
    }
}